body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: slategray;
}

.calculator {
    background-color: black;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 25vh;
    width: 40vh;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.number {
    background-color: teal;
}

.operator, .calculate {
    background-color: orange;
    color: white;
}

.clear {
    background-color: red
    ;
    color: white;
}

#result {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

